{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Home Page</title>
{% endblock title %}



{% block content %}
    <h1 class="heading">Welcome to the Home Page</h1>
    <p class="para">This is the content of the home page.</p>


    <a href="{% url 'about' %}">About Us</a>


    
    {% if age <= 18 %}
        <p class="para">You are a minor.</p>
    {% elif age > 18 and age < 60 %}
        <p class="para">You are an adult.</p>
    {% else %}
        <p class="para">You are a senior citizen.</p>
        
    {% endif %}
        


    <div class="imageContainer"><img src="{% static 'images/image.jpeg' %}" alt="Logo"></div>
{% endblock content %}
    